.type-3 {
  background-color: #f9f4f4;
}
.type-3 .col-sm-10 .form-control {
  margin-top: 2%;
}
.type-3 .container .navbar {
  margin-top: 2%;
}
.type-3 .container .row {
  padding-bottom: 40px;
}
.type-3 .container .row .col-md-6 .ramid {
  background-color: #fff;
  padding: 10px;
}
