.type-2 .bgr-img {
  background-image: url('../images/1.jpg');
  backround-size: cover;
}
.type-2 .bgr-img2 {
  background-image: url('../images/2.jpg');
}
.type-2 .ramid {
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.type-2 .btn-www {
  width: 144px;
  height: 36px;
  margin-bottom: 30px;
  color: black;
  background: red;
  border: none;
}
